@import 'bootstrap/dist/css/bootstrap.min.css';

body{
background: linear-gradient(0deg, rgba(0,0,0,0.6558998599439776) 0%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
}
.conteudo {
  height: auto !important;
}
